doctype html
html(data-use-rem)
    head
        meta(charset="UTF-8")
        title cui文档-mobile
        link(rel="stylesheet", href="../css/cui.css")
        link(rel="stylesheet", href="../css/ui-demo.css")
        script(src="https://tangbindu.github.io/cui/ui/dist/js/zepto.min.js")
    body.ui-full-view
        script.
            (function(win){var doc=win.document,html=doc.documentElement,option=html.getAttribute("data-use-rem");if(option===null){return}var baseWidth=parseInt(option).toString()=="NaN"?750:parseInt(option);var grids=baseWidth/100;var clientWidth=355;html.style.fontSize=clientWidth/grids+"px";var testDom=document.createElement("div");var testDomWidth=0;var adjustRatio=0;testDom.style.cssText="height:0;width:1rem;";doc.body.appendChild(testDom);var calcTestDom=function(){testDomWidth=testDom.offsetWidth;if(testDomWidth!==Math.round(clientWidth/grids)){adjustRatio=clientWidth/grids/testDomWidth;var reCalcRem=clientWidth*adjustRatio/grids;html.style.fontSize=reCalcRem+"px"}else{doc.body.removeChild(testDom)}};;var reCalc=function(){var newCW=355;if(newCW===clientWidth){return}clientWidth=newCW;html.style.fontSize=newCW*(adjustRatio?adjustRatio:1)/grids+"px"};reCalc();if(!doc.addEventListener){return}var resizeEvt="orientationchange" in win?"orientationchange":"resize";win.addEventListener(resizeEvt,reCalc,false);doc.addEventListener("DOMContentLoaded",reCalc,false)})(window);
        .wrapper.ui-demo
            section.ui-group#ui-group
            section.ui-code#ui-code
                pre#ui-code-jade.ui-code-jade.prettyprint
                pre#ui-code-sass.ui-code-sass.prettyprint
                pre#ui-code-html.ui-code-html.prettyprint
                pre#ui-code-css.ui-code-css.prettyprint
            section.ui-view#ui-view
            #full_screen_view ▷
        script(src="../js/jquery.js")
        script(src="../js/CUIData.js")
        script(src="../js/run_prettify.js")
        script(src="../js/index.js")
        style(type="text/css").
            body{-webkit-user-select:inherit !important;}