doctype html
html(data-use-rem)
  head
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='description',content='')
    meta(name='keywords',content='')
    title 厘米人小游戏
    link(rel='stylesheet',href='../css/index.css')
  body(ontouchstart='')
    //故事页
    .page.page-story.hide
        .stage.stageA.anima
            .elem.elem1.fadeInUp
                .elem.elem2.fadeInRight
                    .in.floatmove
        .stage.stageB
            .elem.elem1.fadeInUp
                .elem.elem2.fadeInUp
                .elem.elem3.fadeInRight
                    .in.shock
        .stage.stageC
            .elem.elem1.fadeInUp
                .elem.elem3.fadeInRight
                    .in
            .elem.elem2.fadeInUp
                .elem.elem4.fadeInRight
                    .in.shock
    //进入页面
    .page.page-index.hide
        .theme-elem
            h1.gametitle 逃离失控人类的病栋
            .role
                .boy
                    .sos
                    .loader
                        span
                        span
                .girl
                    .why
                    .loader
                        span
                        span
        .explainandview
            .explain
            .ghost
            .viewprize
        .hole
        //透视层
        .perspective
            .boneman.top.delay1
            .smallanimal1.top.delay4
            .smallanimal2.bottom.delay8
            .syringe.left.delay9
            .boneman.bottom.delay5
            .smallanimal1.right.delay6
            .smallanimal2.left.delay9
            .syringe.right.delay3
            .syringe.up.delay2
            .smallanimal1.up.delay7
            .syringe.right.delay8
            .syringe.up.delay8
            .smallanimal1.up.delay3
    //loading页
    .page.page-loading.hide
        //动画容器
        .loading-wrap
            .loading-boy
        p 玩命加载中...
        //文案
        //滚动提示
        .play-tips
    //游戏页面
    .page.page-game.show
        //角标
        .gameconer
        //进度
        .progresswrap
            .progress
                .head.boyhead
        //礼品
        .prizewrap
            .prize
            .num(data=0)
            .num(data="split")
            .num(data=5)

        //游戏结束面板
        .dialog.gameoverDialog.hide
          .mask
          .content
            .warn
            .close
            .content-in
                .body
                    .box.boxtop.tcenter
                        //失败
                        .imgico.challengefailuretitle
                        //成功
                        //.imgico.challengesuccesstitle
                    .tcenter.wrap1
                        //女孩
                        //.imgico.iblock.illustration-girl
                        //男孩
                        .imgico.iblock.illustration-boy
                        .iblock.style1
                            .box
                                .imgico.iblock.finish
                                .imgico.iblock.pnum(data="8")
                                .imgico.iblock.pnum(data="0")
                                .imgico.iblock.percent
                            p.tcenter 据说你和制杖据说你和制杖据说你和制杖据说你和制杖据说你和制杖
                    .box.btn.style3
                        //再玩一次的按钮
                        button(type="button").imgico.playagin-btn.againGameBtn 
                    div.style4
                        h3 本轮你获得以下物品
                        p (院长不想和你说话并向你丢了以下的东东)
                    .box
                        .prizebox.iblock
                            .imgico.prizemask
                            .imgico.iblock.prize(data="1")
                        .prizebox.iblock
                            .imgico.iblock.prizemask
                            .imgico.iblock.prize(data="2")
                        .prizebox.iblock
                            .imgico.iblock.prizemask
                            .imgico.iblock.prize(data="3")
                        .prizebox.iblock
                            .imgico.iblock.prizemask
                            .imgico.iblock.prize(data="4")
                        .prizebox.iblock
                            .imgico.iblock.prizemask
                            .imgico.iblock.prize(data="5")
                    .btn-group
                        .imgico.iblock.show-btn
                        .imgico.iblock.use-btn
    //活动说明
    .dialog.ruleDialog.hide
      .mask
      .content
        .warn
        .close
        .content-in
            .body
                .box
                    .imgico.illustration-prison
                .box.font32b.mt10 我特喵真的没病
                .border6.mt20
                .box
                    span.font88b 活动
                    .imgico.boy
                    span.font88b 说明
                .border6.mt10.mb10
                .min-title
                    span 可以大喊大叫&nbsp;| &nbsp;
                    span 可以摔手机&nbsp;| &nbsp;
                    span 不准随地大小便
                .ul.list.list-rule
                    li ●  挑战“逃离失控人类の病栋”即可赢取厘米秀的专属装扮和动作！
                    li ●  每轮6个礼包随机发放，不限挑战次数。多次挑战获得更好成绩。
                    li ●  本活动惊现一伙的QQ厘米秀体验资格的用户参与。
                    li ●  本活动需安装6.3.5及以上的手机QQ版本。
                    li ●  在法律允许范围内，腾讯公司拥有最终解释   权，对本活动有任何疑问或咨询，请联系腾讯在线客服反馈。
                    li ●  反馈地址：kf.qq.com
    //奖励
    .dialog.prizeDialog.hide
      .mask
      .content
        .warn
        .close
        .content-in
            .body
                .box
                    .imgico.illustration-prison
                .box.font32b.mt10 熊孩子你该吃药了
                .border6.mt20
                .box
                    span.iblock.font88b 游戏
                    .imgico.iblock.illustration-bottle
                    span.iblock.font88b 奖励
                .border6.mt10.mb10
                ul.ec-grid.ec-grid-img.ec-grid-4
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="1")
                    span.name 痴呆脸
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="2")
                    span.name 冰栋上衣
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="3")
                    span.name 冰栋长裤
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="4")
                    span.name 吊瓶背饰
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="5")
                    span.name 白木脸
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="6")
                    span.name 失控上衣
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="7")
                    span.name 病栋短裤
                  li
                    .grid-img
                      .prize-box
                        .imgico.prize(data="8")
                    span.name 咋啦动作
    //游戏分享后的客人态
    .dialog.gameshareDialog.hide
      .mask
      .content
        .warn
        .close
        .content-in
            .body
                .box
                    //难以置信
                    .imgico.sharetitle
                .box.wrap1
                    //女孩
                    //.imgico.iblock.illustration-girl
                    //男孩
                    .imgico.iblock.illustration-boy
                    div.iblock
                        P.tcenter 
                            span 你的好友
                            span 张小龙
                        .box
                            .imgico.iblock.finish
                            .imgico.iblock.pnum(data="8")
                            .imgico.iblock.pnum(data="0")
                            .imgico.iblock.percent
                        p.tcenter 
                            span 获得了
                            span N
                            span 件奖品！
                .box.btn
                    //再玩一次的按钮
                    button(type="button").imgico.iplay-btn
                




    script.
        (function(win){var doc=win.document,html=doc.documentElement,option=html.getAttribute("data-use-rem");if(option===null){return}var baseWidth=parseInt(option).toString()=="NaN"?750:parseInt(option);var grids=baseWidth/100;var clientWidth=html.clientWidth||320;html.style.fontSize=clientWidth/grids+"px";var testDom=document.createElement("div");var testDomWidth=0;var adjustRatio=0;testDom.style.cssText="height:0;width:1rem;";doc.body.appendChild(testDom);var calcTestDom=function(){testDomWidth=testDom.offsetWidth;if(testDomWidth!==Math.round(clientWidth/grids)){adjustRatio=clientWidth/grids/testDomWidth;var reCalcRem=clientWidth*adjustRatio/grids;html.style.fontSize=reCalcRem+"px"}else{doc.body.removeChild(testDom)}};setTimeout(calcTestDom,20);var reCalc=function(){var newCW=html.clientWidth;if(newCW===clientWidth){return}clientWidth=newCW;html.style.fontSize=newCW*(adjustRatio?adjustRatio:1)/grids+"px"};reCalc();if(!doc.addEventListener){return}var resizeEvt="orientationchange" in win?"orientationchange":"resize";win.addEventListener(resizeEvt,reCalc,false);doc.addEventListener("DOMContentLoaded",reCalc,false)})(window);

    script(src="../js/zepto.js")
    script.
        //当前页面交互
        $(".page-story .stage").bind("click",function(){
            if($(this)[0].className.indexOf("stageC")>0){
                $(this).parent().remove();
                $(".page-index").addClass("show");
            }
            $(this).next().addClass("anima");
            $(this).remove();
        });
        $(".role div").bind("click",function(){
            if($(this).hasClass("boy")){
                window.gameroletype="boy"
                $(".page-index").addClass("choiseboy");
            }else{
                window.gameroletype="girl";
                $(".page-index").addClass("choisegirl");
            }
            setTimeout(function(){
                $(".page-index").remove();
                $(".page-game").addClass("show");
            },1000)
        })
   
    //异步加载
    script(src="../js/pixi.v3.js")
    script(src="../js/pixi-spine.js")
    script(src="../js/dust.js")
    //异步加载
    script(src="../js/index.js")
    script(src="../js/control.js")